<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <ul>
        <li (click)="showMovieDetails(movie); changeState(i)" *ngFor="let movie of movieList; let i = index" class="border border-gray p-2" [class.bg-light]="state == i">
          <h5 class="d-inline-block mb-3">{{movie.title}}</h5>
          <i class="icon-trash float-right" (click)="removeMovieData(i, movie.title)"></i>
          <p>Release date: {{movie.release | date:"MM/dd/yyyy" }}</p>
        </li>
      </ul>
    </div>
    <div class="movieDetail col-md-8 border border-gray d-flex flex-column">
      <a [routerLink]="['/movieform']" class="btn btn-primary my-3 align-self-end">Add new movie</a>
      <div *ngIf="listed; else movieListedEmpty" class="movieCard border border-gray align-self-end">
        <div class="bg-light border-gray border-bottom p-3 mb-3">
          <h4 class="d-inline">{{movieDetails.title}}</h4>
          <span class="float-right">Release date: {{movieDetails.release}}</span>
        </div>
        <div class="movieImg border bg-light p-4 mb-4 ml-3">
          <img class="mb-5" src={{movieDetails.image}} alt="">
        </div>
        <div class="movieDesc text-justify mx-3 mb-4">
          <p class="">{{movieDetails.description}}</p>
        </div>
      </div>
      <ng-template #movieListedEmpty>
        <div class="emptyHome pt-5">
          <p class="text-info text-center">Choose a movie from the list to see its details!</p>
          <p class="text-info text-center"> If the list is empty, add a movie using the "Add new movie" button!</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
